body{
	background:url("back.jpg") no-repeat;
	background-color: green;
}
#inner{
	text-align:center;
	margin: 0 auto;
	width:30%;
}
input{
	border-radius:5px;
	height:34px;
}
.btn{
	display: block;
}
form{
	width: 174px;
	margin:0 auto;
}
#guesses{
	display:block;
}
#guesses p{
	line-height:50px;
	color:#fff;
	float:left;
	text-align:center;
	height:50px;
	width:50px;
	font-size:30px;
	border-radius: 30px;
}
.low{
	background-color: #45B695;
}
.high{
	background-color: #E84C78;
}
.rightNum{
	background-color: #990000;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}
/*#container{
	width:70%;
	margin:0 auto;
	padding-top:100px;
}

h1{
	display:inline;
	padding:20px;
	margin-top:30px;
	border:2px solid #000;
}

input{
	margin-top:30px;
}


.rightNum{
	text-align:center;
	line-height: 100px;
	width:100px;
	margin:0 auto;
	font-size:60px;
	color:white;
	xmargin-top:70px;
	border-radius: 50px;
	background-color: #990000;

}*/